@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global smooth scroll */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

body {
  overflow-x: hidden;
  background-color: #f0f2f5; /* Light gray for a trustable look */
}
